@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap');

body {
  background-color: darkcyan;
  font-family: 'IBM Plex Mono', monospace;
}

.btn-primary {
  background-color: darkcyan !important;
  border-color: #007676 !important;
  color: #fff !important;
}


.btn-primary:hover {
  background-color: #007676 !important;
  border-color: #007676 !important;
}

.btn-primary:focus {
  background-color: #005e5e !important;
  border-color: #007676 !important;
}

.jumbotron {
  text-align: center;
}

#showHide {
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: .3rem;
  text-align: center;
}

.form-group label {
  font-size: 1.5em;
}

.form-group .row small {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.form-group button {
  margin: 15px 0px;
}

#emailHelp {
  font-size: 1.2em;
}

.card {
  background-color: #e9ecef;
  text-align: center;
}

button {
  font-size: 1.2em !important;
  padding: 8px 15px !important;
}
